.ac_banner {
    width: 100%;
    height: 0.6rem;
}

.ac_banner ul li {
    float: left;
    width: 33.1%;
    text-align: center;
    height: 0.6rem;
    line-height: 0.6rem;
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}
.ac_banner ul li a{
    display:block;
    width:100%;
    height:100%;
}
.ac_banner ul li a{
    color: #595757;
    font-size: 12px;
}
.ac_banner ul li:last-child {
    border-right: 0;
}

.ac_banner ul li.current {
    background: url("http://game.gtimg.cn/images/yxzj/m/m201606/cp/actitybanner.png") no-repeat left center;
    background-size: 100%;
}

.ac_banner ul li.current a {
    color: #ffffff;
    text-shadow: 0 0 25px #fff;
}

.ac_list {
    width: 100%;
    padding: 0.22rem 0;
    border-bottom: 1px solid #d7d7d7;
}
.ac_tap{display:none;}
.ac_list .ac_listCont {
    width: 7rem;
    height: 1.74rem;
    margin: 0 auto;
}

.ac_listL {
    width: 46.179%;
    overflow: hidden;
    position: relative;
}

.ac_listL .ac_listImg {
    width: 3rem;
    position: relative;
    overflow: hidden;
}
.ac_listL .ac_listImg img{
    width: 100%;
    display: block;
    border-radius: 5px;
    height: 1.74rem;
}
.ac_listL .ac_listImg span {
    display: inline-block;
    width: 1.12rem;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    font-size: 0.20rem;
    position: absolute;
    top: 4%;
    left: -10%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.ac_listL .ac_listImg span.ac_ing {
    background: #d53308;
}
.ac_listL .ac_listImg span.end_ac{
    background: #615f5f;
}
.ac_listL .ac_listImg span.ac_end {
    background: #595757;
}

.ac_listR {
    position: relative;
    width: 53.82%;
    height: 1.74rem;
    overflow: hidden;
    padding-top:0.12rem;
}
.ac_listR h3 a{
    display:block;
    color: #1e83e5;
    font-size:0.30rem;
    margin-bottom:0.15rem;
}
.ac_listR P{
    width:100%;
    color: #333333;
    font-size: 0.28rem;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -moz-box-orient: vertical;
    overflow:hidden;
}
.ac_listR time{
    color:#595757;
    font-size:0.14rem;
    position: absolute;
    right:0;
    bottom:0;
}
.ac_move{
    width:7rem;
    margin:0.12rem auto;
    padding:0.12rem 0;
    color:#333;
    font-size:0.14rem;
    text-align: center;
    background: #d7d7d7;
    border-radius:5px;

}