.mc_w {
    padding: 0.064rem 0.128rem;
    margin-left: 0.2rem;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    background: #00ADFF;
    font-size: 12px;
}

.mc_descinfo_title {
    color: #00ADFF;
    font-weight: bold;
    font-size: 0.4rem;
}

.mc_descinfo_type {
    font-size: 12px;
    padding: .5% 2%;
    border: 1px solid #A2A2A2;
    color: #A2A2A2;
    border-radius: 50px;
    text-align: center;
    margin-left: 4%;
}

.mc_data {
    color: #676869;
    font-size: 0.24rem;
    margin-top: 0.02rem;
}

.mc_gift {
    color: #949BA5;
    font-size: 0.2rem;
}

.mc_block {
    width: 100%;
    padding-left: 0.2rem;
    margin-top: 0.32m;
}

.mc_lineinfo {
    width: 100%;
    height: 0.7rem;
    line-height: 0.2rem;
    padding: 0.1rem 0;
}

.marchLiCont .mess_list ul li {
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
}

.marchLiCont .mess_list ul li span.mess_span {
    height: 0.7rem;
    line-height: 0.7rem;
}

.marchLiCont .mess_list ul li a {
    display: inline-block;
    font-size: 0.32rem;
    color: #333;
    width: 85%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 0.1rem;
}

.marchLiCont .mess_list ul li time {
    float: right;
    color: #9e9e9e;
    font-size: 0.29rem;
    margin-right: 0.1rem;
}

.marchLiCont .mess_span {
    font-size: 0.6667rem;
    color: #9b9b9b!important;
    padding: 3px 5px;
    border: 1px solid #9e9e9e;
    border-radius: 0.75rem;
}

.marchLiCont .newList_MarginTop ul li:active .mess_span {
    border: 1px solid #00adff;
}

.marchLiCont .newList_MarginTop ul li:active a,
.marchLiCont .newList_MarginTop ul li:active time,
.marchLiCont .newList_MarginTop ul li:active .mess_span a {
    color: #00adff!important;
}

.game_bC {
    width: 35%;
    position: relative;
    padding-right: 0.625rem;
}

.game_bC select {
    width: 100%;
    border: 1px solid #00adff;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    text-align: center;
    border-radius: 3px;
    color: #989ea8;
    font-size: 0.8rem;
    padding: 0.2rem 17%;
    background: #ffffff url("http://game.gtimg.cn/images/yxzj/m/m201606/cp/selectarrow.png") no-repeat 96% center;
    background-size: 12%;
}

.game_bC select option {
    width: 100%;
    border: 0;
    border-radius: 3px;
    color: #e1e1e1;
    text-align: center;
    font-size: 0.8rem;
    height: 1.2rem;
}

.game_bC span {
    position: absolute;
    width: 1px;
    height: 1rem;
    background: #989ea8;
    right: 24%;
    top: 53%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.mc_allB {
    position: relative;
    width: 100%;
    height: 0.64rem;
    line-height: 0.64rem;
    text-align: center;
    color: #a2a2a2;
    font-size: 0.32rem;
    background: #e4e4e4;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
}

.mc_allB a {
    width: 100%;
    color: #a2a2a2;
    height: 100%;
    display: inline-block;
}

.video_playBtn {
    position: absolute;
    width: 2.375rem;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
}

.mc_allB_news {
    margin: 0.2rem 0;
}

.mc_go {
    border-radius: 1.0208335rem;
}

.mess_title {
    width: 13rem;
}

.match-index {
    padding-bottom: 5.5rem
}

.mess_list {
    padding-bottom: 1rem;
}

.mess_list .ac_move {
    display: block;
    width: 100%;
    height: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.3rem;
    color: #858587;
    margin: 0.3rem 0;
    background: #e6e6e6;
    border-radius: 1rem;
}


/*video*/

.mc_video {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.mc_video .video_mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 76px;
    height: 50px;
    line-height: 50px;
    margin: auto!important;
    overflow: hidden;
    font-size: 0;
    text-align: center;
    background: rgba(23, 23, 23, .9);
    border-radius: 3px;
    cursor: pointer;
}

.mc_video .video_mask span {
    position: absolute;
    left: 30px;
    top: 14px;
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    overflow: hidden;
    border: 20px solid transparent;
    border-width: 12px 21px;
    border-left-color: #fff;
}