.news_list li {
  position: relative;
  height: 0.38rem;
  line-height: 0.38rem;
  margin-bottom: 0.3rem;
  font-size: 0.28rem;
}
.news_list li a {
  display: inline-block;
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news_list li a .category {
  color: #464f73;
}
.news_list li a .split {
  display: none;
  height: 0.38rem;
  display: inline-block;
  margin: 0 0.02rem;
}
.news_list li a .title {
  width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news_list li a .time {
  position: absolute;
  right: 0;
  color: #777777;
}
.news_list:hover {
  background: #e3e6ea;
  border-radius: 6px;
}
.news_list:hover a {
  color: #8a9bc7;
}
