
/**match-videoSearch*/
body{
    background-color: #fff;
}
.video_search{
    margin: 0.2rem auto;
    padding: 0 0.34rem;
}
.video_search-txt ul li{
    float: left;
    margin-right: 0.25rem;
    font-size: 0.28rem;
}
.video_search-txt ul li.txtCurrent a{
    color: #25B1FD;
}

.video_choose_cont{
    margin-top: 0.2rem;
}

.video_search-choose_cont{
    margin-bottom: 0.15rem;
    font-size: 0.28rem;
}
.video_search-choose_cont h2{
    color: #484848;
    width: 1rem;
    float: left;
    font-weight: bold;
}
.video_search-choose_cC, .video_search-choose_hero {
    width: 5.7rem;
    float: left;
    margin-top: 0.04rem;
}
.video_search-choose_cC ul li {
    text-align: center;
    width: 28%;
    white-space: nowrap;
    float: left;
    margin-bottom: 0.15rem;
}

.video_search-choose_cC ul li a, .video_search-choose_hero ul li a {
    color: #545353;
    font-size: 0.26rem;
    padding:1px;
    display:block;
}

.video_search-choose_t ul li:nth-child(1) {
    width: 0.5rem;
    margin-right: 0.15rem;
}

.video_search-choose_t ul li:nth-child(3n+2) {
    margin-left: 0.65rem;
}

.video_search-choose_t ul li:nth-child(2) {
    margin-left: 0;
}

.video_search-choose_hero ul li {
    text-align: center;
    width: 16%;
    float: left;
    margin-bottom: 0.15rem;
}
.video_search-choose_cont .current a {
    display: block;
    color: #00adff;
    border-radius: 0.1rem;
    border: 1px solid #00adff;
    padding: 0;
}